---
import Inputs from "@components/partials/viewer/Inputs.astro";
import Table from "@components/partials/viewer/Table.astro";
const baseURL = import.meta.env.PUBLIC_BASE_URL;
---

<div class="mx-auto" id="data" data-base-url={baseURL}>
  <Inputs />
  <Table />
</div>

<script is:inline src="//unpkg.com/alpinejs@3.0.7/dist/cdn.js"></script>
<script is:inline>
  let currentURL = new URL(window.location.href);
  currentURL = currentURL.origin + currentURL.pathname;
  let baseURL =
    document.querySelector("[data-base-url]")?.getAttribute("data-base-url") ||
    currentURL;
  baseURL = baseURL.startsWith("http") ? baseURL : currentURL + baseURL;
  // remove trailing slash
  baseURL = baseURL.replace(/\/$/, "");
  let input = Alpine.reactive({
    query: "",
    ignore: "",
    file_path: "",
    realtime: false,
    reverse: true,
    host: "",
    type: "",
    page: 1,
    per_page: 100,
  });
  let highlighter = Alpine.reactive({
    line_from: 0,
    line_upto: 0,
  });
  let results = Alpine.reactive({
    result: {
      lines: [],
      match_pattern: "",
      total: 0,
      file_path: "",
      date: "",
    },
    file_paths: [],
  });
  let loading = Alpine.reactive({
    fetching: false,
    error: "",
    errorJSON: "",
    updated_at: "",
  });
  let intervalId = null;

  function formatBytes(bytes, decimals = 2) {
    if (bytes === 0) return "0 Bytes";
    const k = 1024;
    const dm = decimals < 0 ? 0 : decimals;
    const sizes = ["Bytes", "KB", "MB", "GB", "TB"];
    const i = Math.floor(Math.log(bytes) / Math.log(k));
    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + " " + sizes[i];
  }
  function numberToK(number) {
    return number > 999 ? (number / 1000).toFixed(1) + "k" : number;
  }
  function timeago(str) {
    if (!str) return "";
    date = new Date(str);
    if (isNaN(date)) return "";
    const now = new Date();
    const secondsPast = (now.getTime() - date.getTime()) / 1000;

    if (secondsPast < 0) {
        return "";
    }
    if (secondsPast < 60) {
        return `${Math.floor(secondsPast)} secs ago`;
    }
    if (secondsPast < 3600) {
        const minutes = Math.floor(secondsPast / 60);
        return `${minutes} ${minutes === 1 ? 'min' : 'mins'} ago`;
    }
    if (secondsPast <= 86400) {
        const hours = Math.floor(secondsPast / 3600);
        return `${hours} ${hours === 1 ? 'hour' : 'hours'} ago`;
    }
    if (secondsPast <= 2592000) {
        const days = Math.floor(secondsPast / 86400);
        return `${days} ${days === 1 ? 'day' : 'days'} ago`;
    }
    if (secondsPast <= 31536000) {
        const months = Math.floor(secondsPast / 2592000);
        return `${months} ${months === 1 ? 'month' : 'months'} ago`;
    }
    const years = Math.floor(secondsPast / 31536000);
    return `${years} ${years === 1 ? 'yr' : 'yrs'} ago`;
  }

  const init = async () => {
    input.host = input.host ?? ""; // could be undefined
    input.type = input.type ?? ""; // could be undefined
    loading.error = "";
    loading.errorJSON = "";
    loading.fetching = true;

    const url = `${baseURL}/api?query=${input.query}&ignore=${input.ignore}&page=${input.page}&per_page=${input.per_page}&file_path=${input.file_path}&host=${input.host}&type=${input.type}&reverse=${input.reverse}`;

    const response = await fetch(url).catch((error) => {
      loading.fetching = false;
      loading.error = error;
      return;
    });
    loading.updated_at = new Date().toLocaleTimeString();

    loading.fetching = false;
    if (response.status !== 200) {
      loading.error = response.statusText;
      ej = await response.json();
      try {
        loading.errorJSON = JSON.stringify(ej, null, 2);
      } catch (e) {
        loading.errorJSON = ej;
      }
      return;
    }

    let res = await response.json();
    if (input.reverse && res.result.lines) {
      res.result.lines = res.result.lines.reverse();
      highlighter.line_from = highlighter.line_upto;
      highlighter.line_upto =
        res.result.lines.length > 0 ? res.result.lines[0].line_number : 0;
    }
    setTimeout(() => {
      results.file_paths = res.file_paths;
      results.result = res.result;
      input.file_path = res.result.file_path;
      input.host = res.result.host;
      input.type = res.result.type;
    }, 100);

    manageRealtimeUpdates();
  };
  init();

  const submit = async () => {
    init();
  };

  const manageRealtimeUpdates = () => {
    if (intervalId) {
      clearInterval(intervalId);
    }
    if (input.realtime) {
      intervalId = setInterval(init, 5 * 1000); // 5 seconds
    }
  };

  const data = {
    submit,
    formatBytes,
    numberToK,
    timeago,
  };
  document.getElementById("data").setAttribute("x-data", JSON.stringify(data));
  Alpine.start();
</script>

<style></style>
